.DS_Store
*.d
*.o
*.bin
*.elf
*.hex
*.lss
*.map
*.sym
*.eep
LUFA/
.idea/misc.xml
.idea/modules.xml
.idea/Switch-Fightstick.iml
.idea/vcs.xml
.idea/workspace.xml
.vscode/settings.json
C/cleanup.sh
C/Joystick_new.c
Python/__pycache__/serialManager.cpython-37.pyc
Test/example.c
Test/HORI_Descriptors
Test/makeAndClean.sh
Test/Makefile
Test/uart.c
Test/uart.h
.vscode/c_cpp_properties.json
Python/__pycache__/maths.cpython-36.pyc
Python/__pycache__/payload.cpython-36.pyc
Python/test.py
C/._.DS_Store
C/._Joystick.c
C/._Joystick.h
Python/serialMain.py
venv/
Python/.idea