.DS_Store
*.d
*.o
*.bin
*.elf
*.hex
*.lss
*.map
*.sym
*.eep
LUFA/
.idea/misc.xml
.idea/modules.xml
.idea/Switch-Fightstick.iml
.idea/vcs.xml
.idea/workspace.xml
.vscode/settings.json
C/cleanup.sh
C/Joystick_new.c
Python/__pycache__/serialManager.cpython-37.pyc
Test/example.c
Test/HORI_Descriptors
Test/makeAndClean.sh
Test/Makefile
Test/uart.c
Test/uart.h
